body {
  color: "#141414";
  margin: 0;
  width: 100%;
}

.wrapper {
  margin: 0 205px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    margin: 0 15px;
  }
}

.wrapper--small {
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .wrapper--small {
    margin: 0 15px;
  }
}

.header {
  color: white;
  background-color: #1b1310;
  border-bottom: solid 2px white;
}

.header__ttl {
  font-size: 26px;
}

@media screen and (max-width: 767px) {
  .header__ttl__left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.container__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 120px 0 120px;
}

@media screen and (max-width: 767px) {
  .container__top {
    margin: 0;
    margin-top: 2px;
    margin-left: 15px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.nav__list a {
  color: white;
  text-decoration: none;
}

.nav__item {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.nav__item + .nav__item {
  padding-left: 55px;
}

@media screen and (max-width: 767px) {
  .nav__toggle {
    position: fixed;
    z-index: 2;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 25px;
    height: 16px;
    margin-right: 15px;
    cursor: pointer;
  }
}

.nav__toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.nav__toggle i:nth-child(1) {
  top: 0;
}

.nav__toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav__toggle i:nth-child(3) {
  bottom: 0;
}

.nav__toggle.active i:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

.nav__toggle.active i:nth-child(2) {
  opacity: 0;
}

.nav__toggle.active i:nth-child(3) {
  -webkit-transform: translateY(-4px) rotate(45deg);
          transform: translateY(-4px) rotate(45deg);
}

.nav2 {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100vw;
  height: 665px;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #1b1310;
}

.nav2__hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 64px;
  height: 242px;
  margin: 212px 156px 212px 155px;
}

.nav2__item {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-align: center;
}

.nav2__item a {
  text-decoration: none;
  color: white;
}

.nav2__item + .nav2__item {
  padding-top: 50px;
}

.nav2.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.first-view {
  position: relative;
  width: 100%;
}

.first-view__img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.first-view__text {
  position: absolute;
  top: 51%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  border: solid 2px white;
  padding: 14px 42px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
  line-height: 2.08em;
}

@media screen and (max-width: 767px) {
  .first-view__text {
    font-size: 30px;
    padding: 17px 40px;
    white-space: nowrap;
    top: 42.5%;
    left: 51%;
  }
}

.first-view__text-p {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .main {
    width: 100%;
  }
}

.main__about {
  padding-top: 92px;
}

.main__ttl {
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 0.05em;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 767px) {
  .main__ttl {
    margin: 0 24px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .main__ttl--padding {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .main__ttl--padding2 {
    margin: 0 17px 0 0;
  }
}

.main__lead {
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.1em;
  line-height: 2em;
  margin: 0;
  padding-top: 63px;
}

@media screen and (max-width: 767px) {
  .main__lead {
    font-size: 20px;
    padding-top: 64px;
  }
}

.main__content {
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
  line-height: 2.16em;
  margin: 0;
  padding-top: 26px;
}

@media screen and (max-width: 767px) {
  .main__content {
    padding-top: 15px;
    letter-spacing: 0.048em;
  }
}

.main__service {
  margin: 0;
  padding-top: 155px;
}

.main__service--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 72px;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 767px) {
  .main__service--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 65px;
  }
}

.main__service--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 767px) {
  .main__service--bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 39px;
  }
}

.main__news {
  margin: 0;
  padding-top: 145px;
}

@media screen and (max-width: 767px) {
  .main__news {
    width: 100%;
    padding-left: 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.main__ttl--fontJP {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding-top: 150px;
  text-align: center;
  letter-spacing: 0.07em;
}

.main__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 767px) {
  .main__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.main__card--left {
  margin-right: 35px;
}

@media screen and (max-width: 767px) {
  .main__card--left {
    margin-bottom: 50px;
    margin-right: 11px;
  }
}

.main__card--center {
  margin-right: 35px;
}

@media screen and (max-width: 767px) {
  .main__card--center {
    margin-right: 11px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .main__card--right {
    margin-right: 11px;
  }
}

.main__card--left, .main__card--center, .main__card--right {
  -webkit-box-shadow: 0 0 6px 0 rgba(27, 19, 16, 0.4);
          box-shadow: 0 0 6px 0 rgba(27, 19, 16, 0.4);
}

.main__text {
  padding: 2px 33px 18px 34px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.92;
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  .main__text {
    padding: 1px 42px 18px 34px;
  }
}

@media screen and (max-width: 767px) {
  .service__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.service__img1 {
  padding-right: 69px;
}

@media screen and (max-width: 767px) {
  .service__img1 {
    padding: 0;
    padding-top: 40px;
    max-height: 150px;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.service__lead {
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.1em;
  line-height: 2em;
  margin: 0;
  padding-top: 13px;
}

@media screen and (max-width: 767px) {
  .service__lead {
    margin: 0;
    font-size: 20px;
    letter-spacing: 0.099em;
    padding-top: 0;
  }
}

.service__content {
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.047em;
  line-height: 2.12em;
  margin: 0;
  padding-top: 26px;
  font-family: "Noto Sans JP", sans-serif;
  word-wrap: break-word;
}

@media screen and (max-width: 767px) {
  .service__content {
    margin-bottom: 0;
    padding-top: 15px;
    letter-spacing: 0.042em;
    line-height: 2.2em;
  }
}

.service__img2 {
  padding-left: 70px;
}

@media screen and (max-width: 767px) {
  .service__img2 {
    padding-left: 0;
    padding-top: 10px;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 150px;
  }
}

.card__img1, .card__img2, .card__img3 {
  width: 100%;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.contact__list {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  padding-top: 66px;
}

#contact__text, #contact__number, #contact__mail {
  width: 100%;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact__comment {
  width: 100%;
  height: 171px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-item + .form-item {
  padding-top: 22px;
}

.form-item {
  letter-spacing: 0.045em;
  line-height: 1.5;
}

.button {
  margin-top: 46px;
  text-align: center;
  margin-bottom: 49px;
}

.button--submit {
  background-color: #1b1310;
  -webkit-box-shadow: 0 0 6px #1b1310;
          box-shadow: 0 0 6px #1b1310;
  border-radius: 51px;
  color: white;
  width: 235px;
  height: 59px;
  font-size: 20px;
  font-weight: bold;
  border: solid 1px #141414;
}

.footer {
  background-color: #1b1310;
  height: 79px;
  font-family: "Roboto", sans-serif;
}

.footer__text {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 29px;
  padding-bottom: 31px;
  font-size: 14px;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 767px) {
  .footer__text {
    padding-top: 20px;
  }
}
/*# sourceMappingURL=stylesheet.css.map */