body {
  color: "#141414";
  margin: 0;
  width: 100%;
}

.wrapper {
  margin: 0 205px 0 205px;
}

.wrapper--small {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.header {
  color: white;
  background-color: #1b1310;
  border-bottom: solid 2px white;
}

.header__ttl {
  font-size: 26px;
}

.container__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 120px 0 120px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav__list a {
  color: white;
  text-decoration: none;
}

.nav__item {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.nav__item + .nav__item {
  padding-left: 55px;
}

.nav2 {
  display: none;
}

.first-view__img {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.first-view__text {
  position: absolute;
  top: 51%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  border: solid 2px white;
  padding: 15px 42px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
  line-height: 2.08em;
}

@media screen and (max-width: 375px) {
  .first-view__text {
    font-size: 30px;
  }
}

.first-view__text-p {
  margin-top: 0;
  margin-bottom: 0;
}

.main__about {
  padding-top: 92px;
}

.main__ttl {
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 0.05em;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.main__lead {
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.1em;
  line-height: 2em;
  margin: 0;
  padding-top: 63px;
}

.main__content {
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
  line-height: 2.16em;
  margin: 0;
  padding-top: 26px;
}

.main__service {
  margin: 0;
  padding-top: 160px;
}

.main__service--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 72px;
}

.main__service--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

.main__news {
  margin: 0;
  padding-top: 150px;
}

.main__ttl--fontJP {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding-top: 157px;
  text-align: center;
}

.main__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  font-family: "Noto Sans JP", sans-serif;
}

.main__card--left, .main__card--center, .main__card--right {
  -webkit-box-shadow: 0 0 6px 0 rgba(27, 19, 16, 0.4);
          box-shadow: 0 0 6px 0 rgba(27, 19, 16, 0.4);
  max-width: 320px;
}

.main__text {
  padding: 2px 33px 25px 34px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.92;
  font-size: 13px;
}

.service {
  width: 100%;
}

.service__lead {
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.11em;
  line-height: 2em;
  margin: 0;
  padding-top: 12px;
}

.service__content {
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
  line-height: 2.17em;
  margin: 0;
  padding-top: 26px;
  font-family: "Noto Sans JP", sans-serif;
}

.service__text--top {
  padding-left: 67px;
}

.service__text--bottom {
  padding-right: 70px;
}

.contact__list {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  padding-top: 70px;
}

#contact__text, #contact__number, #contact__mail {
  width: 100%;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact__comment {
  width: 100%;
  height: 171px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-item + .form-item {
  padding-top: 25px;
}

.footer {
  background-color: #1b1310;
  height: 79px;
}

.footer__text {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 29px;
  padding-bottom: 31px;
}

.button {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.button--submit {
  background-color: #1b1310;
  -webkit-box-shadow: 0 0 6px #1b1310;
          box-shadow: 0 0 6px #1b1310;
  border-radius: 51px;
  color: white;
  width: 235px;
  height: 59px;
  font-size: 20px;
  font-weight: bold;
  border: solid 1px #141414;
}
/*# sourceMappingURL=stylesheet.css.map */